<html>
<head>
  <title>Screamcasts : The best thing to happen to GIFS since GIFS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/home.js"></script>
</head>
<body>

  <div class="hero">
    <div class="gifs"></div>
    <div class="hero-content">
      <img src="/images/logo.png" class="logo">
      <h1>The best thing to happen to GIFs<br> since GIFs.</h1>
      <div class="buttons">
        <a href="/record" class="button primary">Start a Screamcast</a>
        <a href="/random" class="button secondary">View a random live GIF</a>
      </div>
    </div>
  </div>

  <div class="content intro">
    <h2>Real time GIFs from your Webcam. Awsome.</h2>
    <p>Screamcasts allows you to use your webcam to produce and share embeddable-realtime-streamed-retro GIF's. All of this powered by the latest GIF 89a technology from 1987. create your own and have some fun with your firends.</p>
  </div>

  <div class="bg-secondary-color">
    <div class="content how">
      <h2>How does it work? <span>(geeky stuff)</span></h2>
      <div class="drawing webcam">
        <span>HTML5 getUserMedia</span>
        <img src="/images/drawing_webcam.png" alt="webcam"/>
      </div>
      <div class="drawing canvas">
        <span>HTML5 Canvas</span>
        <img src="/images/drawing_canvas.png" alt="Browser with canvas"/>
      </div>
      <div class="drawing quantize">
        <span>Quantize in the client</span>
        <img src="/images/drawing_quantize.png" alt="Browser with pizelated thing"/>
      </div>
      <div class="drawing cloud">
        <span>Node JS</span>
        <img src="/images/drawing_cloud.png" alt="Cloud"/>
      </div>
      <div class="drawing gifs">
        <img src="/images/drawing_gifs.png" alt="Three gifs"/>
        <span>Live GIFs</span>
      </div>
    </div>
  </div>

  <div class="content who">
    <h2>The Team</h2>
    <ul class="avatars">
      <li>
        <a href="http://twitter.com/masylum">
          <img src="/images/masylum_avatar.jpg" alt="Masylum Avatar"/>
          <span>Masylum</span>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/micho">
          <img src="/images/micho_avatar.jpeg" alt="Micho Avatar"/>
          <span>Micho</span>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/p3drosola">
          <img src="/images/p3drosola_avatar.jpeg" alt="Pedro Solá Avatar"/>
          <span>Pedro Sola</span>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/jackbach">
          <img src="/images/jackbach_avatar.jpeg" alt="Jack Bach Avatar"/>
          <span>Jack Bach</span>
        </a>
      </li>
    </ul>
    <p>We are <strong>dick in a box</strong>, a bunch of friends from Barcelona that love developing and designing crazy stuff. Follow us if you think we are cool!</p>
  </div>

  <div class="bg-secondary-color">
    <div class="content footer">
      <p>Special thanks to <a href="https://twitter.com/SrFrames">@SrFrames</a> for the catering!</p>
      <img src="/images/dickinabox_logo.png" alt="Dick in a Box Logo"/>
    </div>
    <div class="clear"></div>
  </div>
  <iframe style="position: absolute; top: 20px; right: 0; z-index: 100000" src="http://nodeknockout.com/iframe/dickinabox" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
</body>
</html>
