<html>
<head>
  <title>Screamcasts : The best thing to happen to GIFS since GIFS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/home.js"></script>
</head>
<body>

  <div class="hero">
    <div class="gifs"></div>
    <div class="hero-content">
      <img src="/images/logo.png" class="logo">
      <h1>The best thing to happen to GIFs<br> since GIFs.</h1>
      <div class="buttons">
        <a href="/record" class="button primary">Start a Screamcast</a>
        <a href="/random" class="button secondary">View a random live GIF</a>
      </div>
    </div>
  </div>

  <div class="content">
    le content
  </div>

</body>
</html>
