body, html {
  padding: 0;
  margin: 0; }

body {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal; }

.hero {
  overflow: hidden;
  height: 640px;
  background: #2a2727 url(../images/noise.png) repeat; }
  .hero .gifs {
    position: relative;
    z-index: 1;
    margin-top: -60px; }
    .hero .gifs .bg-gif {
      width: 160px;
      height: 160px;
      margin: 8px;
      border-radius: 10px;
      box-shadow: 0 0 5px black; }
  .hero .hero-content {
    background: url(../images/hero-overlay.png) top left repeat-x;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    height: 640px;
    text-align: center; }
    .hero .hero-content .logo {
      margin: 112px 0 20px 0; }
    .hero .hero-content h1 {
      color: white;
      font-size: 54px;
      font-weight: 300;
      font-stretch: normal; }
    .hero .hero-content .buttons {
      padding: 30px 0;
      background: rgba(0, 0, 0, 0.3); }
      .hero .hero-content .buttons .button {
        font-size: 24px;
        margin: 0 3px;
        line-height: 67px;
        width: 186px; }
        .hero .hero-content .buttons .button.secondary {
          font-size: 18px; }

.button {
  font-family: "Myriad Pro", sans-serif;
  border-radius: 10px;
  background: #5c7a7d;
  font-weight: bold;
  padding: 5px 40px 0;
  display: inline-block;
  color: white;
  text-decoration: none; }
  .button.primary {
    background: #179eaa; }
