html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  padding: 0;
  margin: 0;
  color: #5c7a7d;
  font-size: 20px;
  line-height: 37px;
}

body {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  background: #c5d2d3;
  font-stretch: normal; }

a {
  color: #172425;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #172425;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 42px;
  line-height: 74px;
}
h2 {
  font-size: 36px;
  line-height: 74px;
}
h3 {
  font-size: 30px;
  line-height: 74px;
}
h4,
h5,
h6 {
  line-height: 37px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 18px;
}
ol,
ul {
  margin: 0 0 37px 37px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  margin: 0 0 37px 37px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.hero {
  overflow: hidden;
  height: 640px;
  background: #2a2727 url(../images/noise.png) repeat; }
  .hero .gifs {
    position: relative;
    z-index: 1;
    margin-top: -60px; }
    .hero .gifs .bg-gif {
      width: 160px;
      height: 160px;
      margin: 8px;
      border-radius: 10px;
      box-shadow: 0 0 5px black; }
  .hero .hero-content {
    background: url(../images/hero-overlay.png) top left repeat-x;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    height: 640px;
    text-align: center; }
    .hero .hero-content .logo {
      margin: 112px 0 20px 0; }
    .hero .hero-content h1 {
      color: white;
      font-size: 54px;
      font-weight: 300;
      font-stretch: normal; }
    .hero .hero-content .buttons {
      padding: 30px 0;
      background: rgba(0, 0, 0, 0.3); }
      .hero .hero-content .buttons .button {
        font-size: 24px;
        margin: 0 3px;
        line-height: 67px;
        width: 228px; }
        .hero .hero-content .buttons .button.secondary {
          font-size: 18px; }

.button {
  border-radius: 10px;
  background: #5c7a7d;
  padding: 0 40px;
  display: inline-block;
  color: white;
  text-decoration: none; }
  .button.primary {
    background: #179eaa; }
.button:hover {
  background: #6e989c;
}
.button.primary:hover {
  background: #2fc6d3;
}
.content {
  width: 860px;
  padding: 37px 20px;
  margin: 0 auto;
}
.bg-secondary-color {
  background: #d5dedf;
}

/*How*/
.how {
  background: transparent url('/images/drawing_arrows.png') no-repeat center 370px;
}

.how h2 {
  margin-bottom: 37px;
}

.how h2 span {
  color: #5c7a7d;
}

/*Drawings*/
.drawing {
  text-align: center;
  margin-bottom: 74px;
}

.drawing span {
  height: 37px;
  display: inline-block;
  background: rgba(255,255,255,.7);
  border-radius: 18px;
  padding: 0 30px;
  margin-bottom: 18px;
}

.drawing > img {
  display: block;
  margin: 0 auto;
}

.webcam, .canvas, .quantize {
  display: block;
  width: 33.33%;
  float: left;
}

.canvas {
  margin-top: 37px;
}

.quantize {
  margin-top: 74px;
}

.gifs {
  margin-top: 222px;
}

.gifs span {
  margin-top: 18px;
}

/*Who*/
.who {
  padding-bottom: 74px;
}

.who p {
  clear: both;
}

.who > img {
  float: left;
  margin-right: 20px;
}

.who .avatars {
  clear: both;
  list-style: none;
  margin: 0;
  margin-bottom: 37px;
}

.who .avatars li {
  float: left;
  width: 25%;
  margin: 0;
  height: 140px;
  overflow: hidden;
  position: relative;
  -webkit-filter: grayscale(1);
}

.who .avatars li a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  text-align: center;
  padding-top: 50px;
}

.who .avatars li:hover span {
  display: block;
}

.who .avatars img {
  width: 100%;
}

.who small {
  font-size: 80%;
}

/*Footer*/
.footer {
  clear: both;
  font-size: 80%;
}

.footer p {
  float: right;
}

.clear {
  clear: both;
}
